@media (max-width: 479px) {
  header nav ul {
    padding: 20px;
  }
  header .header-main-wrapper {
    height: 555px;
  }
  header .header-main-wrapper .header-main {
    width: 320px;
    position: relative;
    padding: 0px 20px;
    flex-direction: column;
    align-items: start;
  }
  header .header-main-wrapper .header-main .header-main-box {
    /*height:175px;*/
  }
  header .header-main-wrapper .header-main .logo img {
    width: 280px !important;
  }
  .content-wrapper .content {
    width: 320px;
  }
  .main-page-banners-socials {
    display: block;
  }
  .main-page-banners-socials .main-page-socials {
    display: block;
    width: 280px;
    margin: 0px 20px;
    background: white;
    border-radius: 6px;
    padding: 20px 0px;
    margin-bottom: 30px;
  }
  .main-page-banners-socials .main-page-socials div {
    display: inline-block;
    width: 200px;
    height: 80px;
  }
  .main-page-banners-socials .main-page-banners {
    display: block;
  }
  .main-page-banners-socials .main-page-banners .banner {
    margin: 30px 20px;
    padding-left: 0px;
    overflow-x: hidden;
  }
  .main-page-banners-socials .main-page-banners .banner img {
    position: relative;
    left: 167px;
  }
  .main-page-banners-socials .main-page-banners .banner .name,
  .main-page-banners-socials .main-page-banners .banner .opis {
    position: absolute;
    left: 30px;
    margin-top: -20px;
  }
  .conscience {
    margin: 30px 20px;
  }
  .conscience h2 {
    margin: 15px 0 40px 0;
  }
  .conscience ul li {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  .content-box {
    margin: 30px 20px;
    padding: 20px 30px 30px 30px;
  }
  .content-box .content-main-img img {
    width: 280px;
    top: -20px;
    left: -30px;
  }
  .content-box h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .content-box h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .main-bottom {
    display: block;
  }
  .who-are-we {
    width: 280px;
  }
  .news-short {
    width: 280px;
  }
  .news-short a.news-show-all {
    display: none;
  }
  .ask_popup_open {
    width: 280px !important;
    position: static;
  }
  .page-profile .profile-input {
    width: 100%;
  }
  .page-profile .profile-input:nth-child(even) {
    margin-left: 0px;
  }
  .page-profile input[type=submit] {
    width: 100%;
  }
  .page-profile .info {
    text-align: center;
  }
  .page-profile .info .info-field {
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
  }
  .page-profile .info .info-field span {
    display: none;
  }
  .breadcrumbs {
    height: auto;
    min-height: 90px;
    padding-bottom: 20px;
  }
  .breadcrumbs .container {
    width: 280px;
  }
  .breadcrumbs .container div {
    line-height: 38px;
  }
  .breadcrumbs .container div:last-child {
    font-size: 26px;
  }
  .page-orders .order-info .fields {
    flex-flow: column nowrap;
    align-items: start;
  }
  .page-orders .order-info .field-box {
    max-width: 200px;
    display: inline-block;
    text-align: left;
    margin-top: 25px;
  }
  .page-orders .order-info .field-box:first-child {
    margin-top: 0px;
  }
  .page-orders .order-info .field-box .value,
  .page-orders .order-info .field-box input {
    width: 220px;
  }
  .page-orders .order-info .order-usl-name {
    width: auto;
    margin-bottom: 30px;
  }
  .page-orders .filter label {
    width: 180px;
    margin-bottom: 10px;
  }
  .page-category .content-box,
  .page-balance-add .content-box {
    margin-bottom: 30px;
  }
  .page-category .filter label,
  .page-balance-add .filter label {
    width: 260px;
  }
  .page-category .category-usl-list,
  .page-balance-add .category-usl-list {
    display: block;
  }
  .page-category .category-usl-list .category-usl,
  .page-balance-add .category-usl-list .category-usl {
    width: 280px;
    margin-left: 20px !important;
    margin-right: 0px !important;
    display: block;
  }
  .page-category .category-usl-list .category-usl img,
  .page-balance-add .category-usl-list .category-usl img {
    width: 280px;
    height: 190px;
  }
  .page-category .category-usl-list .category-usl .category-usl-info,
  .page-balance-add .category-usl-list .category-usl .category-usl-info {
    padding: 26px 30px;
    height: 300px;
  }
  .page-category .category-usl-list .category-usl .category-usl-info .field-box .value,
  .page-balance-add .category-usl-list .category-usl .category-usl-info .field-box .value {
    width: 220px;
  }
  .page-category .category-usl-list .category-usl a.buy-lnk,
  .page-balance-add .category-usl-list .category-usl a.buy-lnk {
    width: 220px;
    margin-left: 30px !important;
  }
  .page-news .content-box {
    margin-bottom: 30px;
  }
  .page-news .news-list .news-item {
    width: 280px;
    margin-left: 30px !important;
    margin-right: 0px !important;
    display: block;
  }
  .page-news .news-list .news-item img {
    width: 280px;
    height: 190px;
  }
  .page-cart .content-box,
  .page-checkout .content-box {
    margin-bottom: 30px;
    padding: 40px 30px;
  }
  .page-cart .cart-item,
  .page-checkout .cart-item {
    height: auto;
  }
  .page-cart .cart-item div.field-box,
  .page-checkout .cart-item div.field-box {
    height: auto;
    margin-left: 0px;
    max-width: 220px;
  }
  .page-cart .cart-item .usl-name,
  .page-checkout .cart-item .usl-name {
    display: block !important;
    height: auto !important;
  }
  .page-cart .cart-item .usl-name .param,
  .page-checkout .cart-item .usl-name .param {
    width: auto;
    overflow-x: auto;
  }
  .page-cart .cart-item div.img,
  .page-checkout .cart-item div.img {
    height: 58px;
    display: block;
    float: none;
  }
  .page-cart .cart-item .price,
  .page-checkout .cart-item .price {
    display: block !important;
    margin-left: 0px !important;
    margin-top: 30px !important;
  }
  .page-cart .cart-item .price .value,
  .page-checkout .cart-item .price .value {
    width: 220px;
  }
  .page-cart .cart-item .count,
  .page-checkout .cart-item .count {
    display: block !important;
    margin-top: 30px !important;
    width: 220px;
  }
  .page-cart .cart-item .count input,
  .page-checkout .cart-item .count input {
    width: 220px;
  }
  .page-cart .cart-item .link,
  .page-checkout .cart-item .link {
    margin-top: 30px !important;
  }
  .page-cart .cart-item .link input,
  .page-checkout .cart-item .link input {
    width: 220px;
  }
  .page-cart .cart-item button.cancel,
  .page-checkout .cart-item button.cancel {
    margin-top: 30px !important;
    width: 220px;
    margin-left: 0px;
  }
  .page-cart .info,
  .page-checkout .info {
    width: 280px;
  }
  .page-cart .info input[type=submit],
  .page-checkout .info input[type=submit] {
    width: 220px;
  }
  .page-cart .info span,
  .page-checkout .info span {
    display: none;
  }
  .page-cart .info .info-field .value,
  .page-checkout .info .info-field .value {
    display: block !important;
    width: 220px;
  }
  .page-cart .info .info-field .info-field-param,
  .page-checkout .info .info-field .info-field-param {
    display: block !important;
    width: 220px;
  }
  .page-cart .info .info-field,
  .page-checkout .info .info-field {
    display: block;
  }
  .payments .payment-box,
  .page-payments .payment-box {
    width: 220px !important;
    margin-left: 0px !important;
  }
  .page-product .content-box {
    margin-bottom: 30px;
    padding: 40px 30px;
  }
  .page-product .container {
    display: block;
  }
  .page-product .product-img {
    width: 280px;
    height: auto;
    border-radius: 6px;
    margin: 0px 20px;
  }
  .page-product .product-img img {
    width: 240px;
  }
  .page-product .product-info {
    width: 280px;
    height: auto;
  }
  .page-product .product-info .field-box {
    display: block;
    margin-bottom: 27px;
  }
  .page-product .product-info .field-box hr {
    display: none;
  }
  .page-product .product-info .field-box .value {
    margin-top: 20px !important;
    display: block !important;
  }
  .page-product .product-info .link input {
    width: 220px;
  }
  .page-product .product-info .count input,
  .page-product .product-info .value {
    width: 220px;
  }
  .page-product .product-info .price,
  .page-product .product-info .count,
  .page-product .product-info input[type=submit],
  .page-product .product-info .sum {
    display: block;
    width: 220px;
  }
  .page-product.balance-add-x .product-img {
    display: none;
  }
  .page-product.balance-add-x .product-info {
    width: 280px;
    margin-top: 0px;
  }
  .page-product.balance-add-x .product-info .field-box {
    margin-top: 20px;
    margin-bottom: 0px;
    display: block;
  }
  .page-product.balance-add-x .product-info .count input,
  .page-product.balance-add-x .product-info .value {
    width: 100%;
  }
  .page-feedback textarea {
    height: 230px;
  }
  .page-feedback .name-email {
    display: block;
  }
  .page-feedback .name-email input {
    width: 220px;
  }
  .page-feedback .rate-submit {
    text-align: left;
  }
  .page-feedback .rate-submit .rating,
  .page-feedback .rate-submit .submit {
    vertical-align: top;
    display: inline-block;
  }
  .page-feedback .rate-submit .rating {
    margin-right: 0px;
    font-size: 18px !important;
  }
  .page-feedback .rate-submit .rating span {
    margin-right: 5px;
  }
  .page-feedback .rate-submit .submit input {
    width: 220px;
    margin-top: 20px;
  }
  .page-feedback .feedback-item .info .name {
    float: none;
    margin-bottom: 10px;
  }
  .page-feedback .feedback-item .info .rating {
    float: none;
    margin-bottom: 50px;
    display: block;
    width: 150px;
  }
  .page-feedback .feedback-item .info .date {
    float: none;
    padding-right: 0px;
  }
  .page-feedback .feedback-item p {
    padding-right: 0px;
  }
  .page-auth .pass-email {
    flex-wrap: wrap;
  }
  .page-auth .pass-email input {
    width: 100%;
  }
  .page-auth .field-box {
    width: 100%;
  }
  .page-auth .reg-submit {
    text-align: center;
  }
  .page-auth .reg-submit a {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .page-auth .reg-submit input {
    width: 100%;
  }
  .page-reg .reg-fields {
    margin-bottom: 0px;
  }
  .page-reg .reg-fields input {
    width: 100%;
  }
  .page-reg .auth-reg-submit {
    text-align: left;
  }
  .page-reg .auth-reg-submit input {
    width: 100%;
    margin-top: 30px;
  }
  .page-referals .referal-item .field-box {
    margin-bottom: 30px;
    width: 100% !important;
  }
  .page-checkout h1,
  .page-payment-check h1 {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .page-checkout .info,
  .page-payment-check .info {
    padding-top: 0px !important;
  }
  .page-checkout .info .field-box,
  .page-payment-check .info .field-box {
    width: 100%;
    margin-top: 30px;
  }
  .page-checkout .info .field-box .value,
  .page-payment-check .info .field-box .value {
    width: 100%;
  }
  .page-checkout .info .field-box input,
  .page-payment-check .info .field-box input {
    width: 100%;
  }
  .page-tickets .ticket-add textarea {
    height: 220px;
  }
  .page-tickets .ticket-item .field-box {
    width: 100% !important;
  }
  .page-tickets .ticket-item .field-box .value {
    width: 100% !important;
  }
  .filter a {
    width: 280px;
  }
  .alert {
    margin: 0px 20px 50px;
  }
  .balance-history-item {
    padding-top: 20px;
  }
  .balance-history-item .date,
  .balance-history-item .opis,
  .balance-history-item .sum {
    width: 100%;
    margin-top: 30px;
  }
  .profile-adreses .adres-item form {
    flex-wrap: wrap;
  }
  .profile-adreses .adres-item form a.del,
  .profile-adreses .adres-item form .save,
  .profile-adreses .adres-item form input.add,
  .profile-adreses .adres-item form .adres_name {
    margin-left: 0px;
    width: 100% !important;
    flex-grow: 0;
    margin-bottom: 30px;
  }
  .page-api {
    display: block;
  }
  .page-api .content-box {
    margin-bottom: 30px;
    width: auto;
    display: block;
  }
  .page-api pre {
    padding: 10px !important;
    font-size: 13px;
  }
  .main-page-socials-link {
    width: 280px !important;
    margin: 50px auto 10px;
  }
  .header-socials .header-socials-main {
    width: 160px !important;
  }
  nav::before {
    width: 160px !important;
  }
  .auth-popup-tab-header {
    width: 160px;
  }
  #auth_popup {
    width: 320px;
  }
  #auth_popup input {
    width: 100%;
  }
  #auth_popup .space-between {
    display: block;
  }
  #auth_popup .space-between input {
    width: 100%;
    margin-bottom: 30px;
  }
  #auth_popup .space-between button {
    width: 100%;
  }
  .page-affiliates .content-box {
    background-image: none;
    padding-right: 20px;
  }
  .page-price .price-item {
    padding: 20px;
  }
  .page-price .price-item .usl-name {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
  }
  .page-price .price-item .usl-name .param {
    width: 100%;
    display: block;
  }
  .page-price .price-item .usl-name .param img {
    display: block;
    float: none;
    margin-bottom: 20px;
  }
  .page-price .price-item .price-minmax-orders .value,
  .page-price .price-item .price-id .value,
  .page-price .price-item button.opis,
  .page-price .price-item .field-box {
    width: 100%;
  }
  .page-price .price-item .field-box {
    margin: 0px !important;
    margin-top: 20px !important;
  }
  .page-price .price-item button.opis {
    float: none;
    position: static;
    margin-top: 40px;
  }
  .page-price .price-opt-banner {
    background-image: none;
    padding-right: 20px;
  }
  footer .container {
    width: 320px !important;
    flex-direction: column;
  }
  footer .container .footer-box {
    width: 280px;
    margin-left: 20px;
  }
  footer .container div {
    margin-bottom: 30px;
  }
  footer .copyright {
    width: 100% !important;
  }
  footer .copyright div {
    width: 320px;
  }
  .page-404 .page-404-title {
    left: 20px;
  }
  .page-404 .container {
    flex-direction: column;
    padding: 0;
  }
  .page-404 .container .container-box {
    width: 280px;
  }
  .page-404 .container div {
    margin-bottom: 30px;
  }
  .page-vaks .ajax-file-upload-statusbar {
    width: 220px !important;
    margin-left: 0px !important;
  }
  .page-vaks .ajax-file-upload-statusbar .ajax-file-upload-progress {
    width: 180px !important;
  }
  .page-bonuses .content-box {
    width: 280px;
  }
  .page-bonuses .content-box .bonus-img {
    width: 280px;
  }
  .page-contacts .contacts-info {
    padding: 30px 0px 0px 20px;
  }
  .page-contacts iframe {
    height: 400px;
  }
  .page-contacts .ticket {
    height: 105px !important;
  }
  .page-contacts .ticket span {
    width: 320px !important;
    left: -20px;
    padding: 20px 30px;
  }
  .page-contacts .socials {
    height: 70px;
  }
  .page-contacts .socials a {
    margin-left: 10px !important;
  }
}
